In [ ]:
# lambda function--annonymus function
# not defind function name def keyword,single line of code

In [ ]:
## normal function
def cube(x):
  return x*x*x
cube(3)

27

In [ ]:
## lambda function
lambda_cube=lambda x:x*x*x
lambda_cube(3)

27

In [ ]:
## add two numbers
sum_two_num=lambda x,y:x+y
sum_two_num(5,3)

8

In [ ]:
employee_records=[{'name':'raghav','age':18,'occupation':'Engineer'},
                  {'name':'sagar','age':21,'occupation':'Mechinical Engineear'},
                  {'name':'Bhavik','age':26,'occupation':'Bussignessman'},
                  {'name':'Radhu','age':15,'occupation':'Agriculture'}]

In [ ]:
sorted(employee_records,key=lambda x:x['age'])

[{'name': 'Radhu', 'age': 15, 'occupation': 'Agriculture'},
 {'name': 'raghav', 'age': 18, 'occupation': 'Engineer'},
 {'name': 'sagar', 'age': 21, 'occupation': 'Mechinical Engineear'},
 {'name': 'Bhavik', 'age': 26, 'occupation': 'Bussignessman'}]

In [ ]:
employee_records[0]['name']

'raghav'

In [ ]:
## normal function
l1=[2,4,6,7,9]
l2=[]
for i in l1:
  l2.append(i**2)
print(l2)

[4, 16, 36, 49, 81]

In [ ]:
## map function
list(map(lambda l1:l1**2,l1))

[4, 16, 36, 49, 81]

In [ ]:
l1=[1,2,3,4,7]
l2=[1,2,3,4,7]
list(map(lambda l1,l2:l2==l1,l1,l2))

[True, True, True, True, True]

In [1]:
## filter function:--subset of the given list by having some sort of constraints
#given a list return even elements available in list

In [2]:
list2=[2,3,5,7,9,11,16]
list3=list(filter(lambda x:x%2==0,list2))
print(list3)

[2, 16]

In [3]:
# reduce function:single output
##return the sum of the entire list

In [5]:
from functools import reduce
sum_list=reduce(lambda x,y:x+y,list2)
print(sum_list)

53